/* No files to import found in variables/* */
/* Fluid Typography */
a {
  text-decoration: none;
  color: #0000EE;
}
a:hover {
  text-decoration: underline;
}

p {
  text-align: justify;
}

blockquote {
  background-color: #E9E4D3;
  background-image: url(../images/postquote.png);
  background-position: left top;
  background-repeat: no-repeat;
  overflow: auto;
  clear: both;
  margin: 10px;
  padding: 0;
  padding-left: 28px;
  padding-right: 14px;
}
@media (min-width: 739px) {
  blockquote {
    margin-left: 50px;
  }
}

h1 {
  text-transform: none;
  font-weight: 700;
  border-bottom: none;
  font-size: 28px;
}
@media screen and (min-width: 400px) {
  h1 {
    font-size: calc(28px + 4 * ((100vw - 400px) / 800));
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  text-transform: none;
  border-bottom: none;
  font-size: 22px;
}
@media screen and (min-width: 400px) {
  h2 {
    font-size: calc(22px + 4 * ((100vw - 400px) / 800));
  }
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 26px;
  }
}

h3 {
  font-size: 18px;
}
@media screen and (min-width: 400px) {
  h3 {
    font-size: calc(18px + 4 * ((100vw - 400px) / 800));
  }
}
@media screen and (min-width: 1200px) {
  h3 {
    font-size: 22px;
  }
}

h4 {
  font-size: 16px;
}
@media screen and (min-width: 400px) {
  h4 {
    font-size: calc(16px + 4 * ((100vw - 400px) / 800));
  }
}
@media screen and (min-width: 1200px) {
  h4 {
    font-size: 20px;
  }
}

h5 {
  font-size: 14px;
}
@media screen and (min-width: 400px) {
  h5 {
    font-size: calc(14px + 4 * ((100vw - 400px) / 800));
  }
}
@media screen and (min-width: 1200px) {
  h5 {
    font-size: 18px;
  }
}

h6 {
  font-size: 12px;
}
@media screen and (min-width: 400px) {
  h6 {
    font-size: calc(12px + 4 * ((100vw - 400px) / 800));
  }
}
@media screen and (min-width: 1200px) {
  h6 {
    font-size: 16px;
  }
}

p {
  line-height: 1.35em;
  font-size: 12px;
}
@media screen and (min-width: 400px) {
  p {
    font-size: calc(12px + 4 * ((100vw - 400px) / 800));
  }
}
@media screen and (min-width: 1200px) {
  p {
    font-size: 16px;
  }
}

table {
  width: 100%;
}

body {
  margin: 0;
  color: #000000;
  background-color: #FEFEFC;
  background: linear-gradient(to bottom, #e9d784 0%, #ffffff 100%);
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: top left;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
}

body.cke_editable {
  background: white;
}

.l-page {
  background-image: url(../images/larrys-bookshelf-extracted.png);
  background-repeat: repeat-x;
  background-position: bottom left;
  background-attachment: fixed;
  min-height: 100vh;
}

.l-page-inner {
  max-width: calc(100% - 4em);
  margin: 1em auto;
  cursor: auto;
  width: 1000px;
  background: rgba(239, 237, 224, 0.95);
  box-shadow: 0 0 5px 3px rgba(101, 99, 93, 0.32);
  border-radius: 5px;
  padding: 7px;
  display: flex;
  flex-flow: column nowrap;
}

.l-main {
  font-size: 14px;
  flex: 1;
}

.page-title {
  margin: 3px 0;
  line-height: 1em;
  text-align: center;
}

.media-element {
  margin: 10px 15px;
}

.node__links {
  text-align: center;
  font-style: italic;
  margin-top: 0.5em;
}
.node__links li {
  display: inline-block;
  float: none;
}

.page-node main#main-content {
  border-radius: 5px;
  border: 1px solid #c5bc90;
  margin: 10px;
  padding: 1em;
  background: #f6f5ee;
  overflow: hidden;
}

.boxed {
  border-radius: 5px;
  border: 1px solid #c5bc90;
  margin: 10px;
  padding: 1em 2.8%;
  background: #f6f5ee;
  overflow: hidden;
}
.boxed .block__title,
.boxed .pane-title {
  background: url(../images/blockheader.png);
  min-height: 40px;
  line-height: 40px;
  color: #000000;
  font-size: 16px;
  margin: 0;
  padding: 0 10px 0 10px;
  white-space: nowrap;
  border-radius: 3px;
  text-align: center;
}

.inside {
  margin: 0 !important;
}

.breadcrumb {
  border-radius: 5px;
  border: 1px solid #c5bc90;
  margin: 10px 0;
  padding: 1em;
  background: #f6f5ee;
  overflow: auto;
}

#block-widgets-s-socialmedia-share-default {
  text-align: center;
  margin: .5em 0;
}
#block-widgets-s-socialmedia-share-default .widgets-element {
  margin-right: 4px;
  margin-left: 4px;
  display: inline-block;
  float: none;
}

#block-block-4 {
  padding: 10px;
  color: #221F11;
  background: linear-gradient(to bottom, #e6e2d0 0%, #d6d0b2 100%);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
#block-block-4 p {
  margin: 0;
  font-size: 11px;
  text-align: center;
}
#block-block-4 a {
  color: #221F11;
  text-decoration: underline;
}
#block-block-4 a:hover {
  text-decoration: none;
}

.media-gallery-media {
  display: block;
  margin: 0;
  width: 100%;
}
.media-gallery-media .field__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.media-gallery-media .field__items .field__item {
  flex: 1 1 250px;
}

main#main-content table th {
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}
main#main-content table td {
  padding: 2px;
  border: solid 1px #C7BC8F;
  vertical-align: top;
  border-collapse: collapse;
}
main#main-content table.fc-border-separate {
  border-collapse: collapse;
}

.field--name-field-blurbs blockquote + p,
.field--name-field-short-blurbs blockquote + p {
  margin-top: -0.5em;
  margin-right: 10px;
  margin-bottom: 1.5em;
}

ul.tabs.tabs--primary {
  border-bottom: 0;
  margin-top: 6px;
}
ul.tabs.tabs--primary li > a {
  color: black;
  text-decoration: none;
  font-size: 11px;
  text-align: center;
  width: auto;
  line-height: 24px;
  height: 24px;
  cursor: pointer;
  margin: 0px !important;
  padding: 0px 20px !important;
  background: #e9cb54;
  border: 1px solid #ac8c00;
}
ul.tabs.tabs--primary li > a:hover {
  background: #707a6c;
  border: 1px solid #484e46;
}
ul.tabs.tabs--primary li > a.active {
  color: #F7EDC9;
  background: #707a6c;
  border: 1px solid #484e46;
}

input[type="submit"] {
  color: black;
  text-decoration: none;
  font-size: 11px;
  text-align: center;
  width: auto;
  line-height: 24px;
  height: 24px;
  cursor: pointer;
  margin: 0px !important;
  padding: 0px 20px !important;
  background: #e9cb54;
  border: 1px solid #ac8c00;
}
input[type="submit"]:hover {
  background: #707a6c;
  border: 1px solid #484e46;
}
input[type="submit"].active {
  color: #F7EDC9;
  background: #707a6c;
  border: 1px solid #484e46;
}

#block-widgets-s-socialmedia-share-default .block__title,
#block-widgets-s-socialmedia-share-default .block__content {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
}

#colorbox .mg-lightbox-wrapper .lightbox-title {
  text-align: center;
  max-width: 60vw;
  margin: auto;
}
#colorbox .mg-lightbox-detail {
  padding-right: 0;
  width: 100%;
  text-align: center;
}

main#main-content table.jb-cap-frame td {
  vertical-align: bottom;
}

.view-image-gallery-slideshow .views-slideshow-cycle-main-frame {
  margin: auto;
  margin-top: 1em;
}
.view-image-gallery-slideshow .views-slideshow-cycle-main-frame .views-slideshow-cycle-main-frame-row {
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.view-image-gallery-slideshow .views-slideshow-cycle-main-frame .views-slideshow-cycle-main-frame-row-item {
  width: auto;
  display: inline-block;
  position: relative;
  margin: auto;
}
.view-image-gallery-slideshow .views-slideshow-cycle-main-frame .views-field.views-field-rendered .field-content {
  display: flex;
}
.view-image-gallery-slideshow .views-slideshow-cycle-main-frame .field--name-media-title {
  position: absolute;
  box-sizing: border-box;
  color: black;
  text-align: center;
  width: 100%;
}
.view-image-gallery-slideshow #views_slideshow_cycle_teaser_section_image_gallery_slideshow-panel_pane_1_1 .views-slideshow-cycle-main-frame-row {
  width: 546px !important;
  height: 483px !important;
}
.view-image-gallery-slideshow #views_slideshow_cycle_teaser_section_image_gallery_slideshow-panel_pane_1_1 .views-slideshow-cycle-main-frame-row .landscape .field--name-media-title {
  font-size: 1em;
  padding: 0em 2em;
  top: 385px;
}
.view-image-gallery-slideshow #views_slideshow_cycle_teaser_section_image_gallery_slideshow-panel_pane_1_1 .views-slideshow-cycle-main-frame-row .portrait .field--name-media-title {
  font-size: 1em;
  padding: 0em 2em;
  top: 400px;
}
.view-image-gallery-slideshow #views_slideshow_cycle_teaser_section_image_gallery_slideshow-panel_pane_2_1 .views-slideshow-cycle-main-frame-row {
  width: 273px !important;
  height: 243px !important;
}
.view-image-gallery-slideshow #views_slideshow_cycle_teaser_section_image_gallery_slideshow-panel_pane_2_1 .views-slideshow-cycle-main-frame-row .landscape .field--name-media-title {
  font-size: 0.8em;
  padding: 0em 1.5em;
  top: 188px;
}
.view-image-gallery-slideshow #views_slideshow_cycle_teaser_section_image_gallery_slideshow-panel_pane_2_1 .views-slideshow-cycle-main-frame-row .portrait .field--name-media-title {
  font-size: 0.8em;
  padding: 0em 1.5em;
  top: 195px;
}
.view-image-gallery-slideshow .views-slideshow-controls-bottom {
  display: flex;
  flex-flow: row wrap;
}
.view-image-gallery-slideshow .views-slideshow-controls-bottom .widget_pager_bottom {
  text-align: center;
  max-width: 780px;
  margin: auto;
}
.view-image-gallery-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item img {
  border: 5px solid transparent;
  box-sizing: border-box;
  max-width: unset;
  max-height: unset;
}
.view-image-gallery-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active {
  text-decoration: none;
}
.view-image-gallery-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active img {
  border: 5px solid #efc507;
}
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc-controls,
.view-image-gallery-slideshow .views-slideshow-controls-bottom .views-slideshow-slide-counter {
  text-align: center;
  flex: 1 100%;
  order: -1;
}
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc_controls_previous a,
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc-pause a,
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc-resume a,
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc_controls_next a {
  text-decoration: none;
  color: black;
}
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc_controls_previous img,
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc-pause img,
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc-resume img,
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc_controls_next img {
  width: 20px;
  height: 20px;
}
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc-pause,
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc-resume {
  margin: 0 15px;
}

@media (min-width: 0px) and (max-width: 600px) {
  div[class*="media-polaroid_portrait"] {
    float: none;
    text-align: center;
  }
}

@media (min-width: 0px) and (max-width: 700px) {
  div[class*="media-polaroid_landscape"] {
    float: none;
    text-align: center;
  }
}

#flexslider-1 {
  background: transparent;
  border: 0;
}
#flexslider-1 .views-field-rendered img {
  width: auto;
  max-width: 100%;
  height: 240px;
  margin: auto;
  max-height: 480px;
}
@media (min-width: 600px) {
  #flexslider-1 .views-field-rendered img {
    height: 480px;
  }
}
#flexslider-1 .portrait .field.field--name-field-long-caption {
  position: absolute;
  top: 395px;
  padding: 0 calc((100% - 285px) / 2);
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}
@media (min-width: 0px) and (max-width: 600px) {
  #flexslider-1 .portrait .field.field--name-field-long-caption {
    padding: 0 calc((100% - 143px) / 2);
    top: 196px;
    font-size: 11px;
  }
}
#flexslider-1 .portrait .field.field--name-field-long-caption p {
  margin: 0;
  font-size: inherit;
  text-align: center;
}
#flexslider-1 .landscape .field.field--name-field-long-caption {
  position: absolute;
  top: 380px;
  padding: 0 calc((100% - 477px) / 2);
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}
@media (min-width: 0px) and (max-width: 600px) {
  #flexslider-1 .landscape .field.field--name-field-long-caption {
    padding: 0 calc((100% - 237px) / 2);
    top: 190px;
    font-size: 11px;
  }
}
#flexslider-1 .landscape .field.field--name-field-long-caption p {
  margin: 0;
  font-size: inherit;
  text-align: center;
}

#flexslider-2 {
  margin-top: -48px;
  margin-bottom: 30px;
}
#flexslider-2 li img {
  border: 5px solid transparent;
}
#flexslider-2 li.flex-active-slide img {
  border: 5px solid #efc507;
}

.l-branding {
  background: linear-gradient(to bottom, #eed889 0%, #e3be3c 50%, #eed889 100%);
  border-radius: 5px;
  margin-bottom: 5px;
  position: relative;
  display: inline-block;
  width: 100%;
}
.l-branding:before {
  position: absolute;
  display: block;
  content: ' ';
  z-index: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/textblock-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
@media (min-width: 1010px) {
  .l-branding {
    display: flex;
    align-items: center;
  }
}

.site-logo {
  height: 100%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: none;
  width: 100px;
  text-align: center;
  margin-right: 0.5em;
}
.site-logo img {
  height: 100%;
  width: 100px;
  display: inline-block;
}
@media (min-width: 605px) {
  .site-logo {
    margin-right: 1em;
    width: 21%;
  }
  .site-logo img {
    width: 100%;
    display: block;
  }
}
@media (min-width: 650px) {
  .site-logo {
    float: left;
  }
}
@media (min-width: 1010px) {
  .site-logo {
    float: none;
    width: auto;
  }
}

.sitename-and-slogan {
  display: inline-block;
  flex: 1 1 400px;
  vertical-align: top;
  width: calc(100% - (100px + 1em));
  text-align: center;
  vertical-align: middle;
}
@media (min-width: 605px) {
  .sitename-and-slogan {
    width: calc(100% - (22% + 1em));
    text-align: center;
    vertical-align: middle;
  }
}
@media (min-width: 1010px) {
  .sitename-and-slogan {
    width: auto;
  }
}

.site-name {
  display: inline-block;
  text-align: left;
  margin: 0;
  position: relative;
}
.site-name a {
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Sans-Serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #221F11;
  display: inline-block;
  text-align: center;
  font-size: 24px;
}
@media screen and (min-width: 350px) {
  .site-name a {
    font-size: calc(24px + 14 * ((100vw - 350px) / 249));
  }
}
@media screen and (min-width: 599px) {
  .site-name a {
    font-size: 38px;
  }
}
@media screen and (min-width: 600px) {
  .site-name a {
    font-size: calc(38px + 17 * ((100vw - 600px) / 409));
  }
}
@media screen and (min-width: 1009px) {
  .site-name a {
    font-size: 55px;
  }
}
@media (min-width: 1010px) {
  .site-name a {
    font-size: 55px;
  }
}

.site-slogan {
  position: relative;
  display: block;
  text-align: left;
  padding: 0;
  margin: 0;
  color: #0A0905;
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Sans-Serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
}
@media screen and (min-width: 350px) {
  .site-slogan {
    font-size: calc(12px + 12 * ((100vw - 350px) / 249));
  }
}
@media screen and (min-width: 599px) {
  .site-slogan {
    font-size: 24px;
  }
}
@media screen and (min-width: 600px) {
  .site-slogan {
    font-size: calc(24px + 8 * ((100vw - 600px) / 409));
  }
}
@media screen and (min-width: 1009px) {
  .site-slogan {
    font-size: 32px;
  }
}
@media (min-width: 1010px) {
  .site-slogan {
    font-size: 32px;
  }
}

.l-region--branding {
  overflow: auto;
  width: 100%;
  z-index: 1;
  position: relative;
}
@media (min-width: 605px) {
  .l-region--branding {
    width: auto;
  }
}
@media (min-width: 1010px) {
  .l-region--branding {
    overflow: unset;
  }
}

#block-panels-mini-follow-block {
  background: #f6f5ed;
  border: 1px solid #c5bb8f;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: auto;
  box-sizing: border-box;
}
@media (min-width: 1010px) {
  #block-panels-mini-follow-block {
    width: 150px;
  }
}
#block-panels-mini-follow-block .panels-flexible-region-inside {
  display: flex;
  flex-flow: row wrap;
}
#block-panels-mini-follow-block .pane-mailchimp-form {
  flex: 1 1 80%;
  max-width: 100%;
}
@media (min-width: 447px) {
  #block-panels-mini-follow-block .pane-mailchimp-form {
    flex: 1 0 350px;
  }
}
#block-panels-mini-follow-block #mailchimp-signup-subscribe-block-follow-larry-form {
  text-align: center;
}
#block-panels-mini-follow-block .mailchimp-signup-subscribe-form > div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
#block-panels-mini-follow-block .block__title {
  min-height: 25px;
  line-height: 25px;
  color: #000000;
  font-size: 16px;
  margin: 0;
  padding: 0 10px 0 10px;
  white-space: nowrap;
  text-align: center;
}
#block-panels-mini-follow-block .block__content {
  display: flex;
}
#block-panels-mini-follow-block .block__content .panels-flexible-6 {
  width: 100%;
}
#block-panels-mini-follow-block .pane-mailchimp-signup-form-field {
  display: inline-block;
  max-width: 100%;
  margin: 0 5px;
}
#block-panels-mini-follow-block .pane-mailchimp-signup-form-field .form-item {
  margin: 0;
  text-align: center;
  margin-bottom: .1em;
  display: inline-block;
  vertical-align: middle;
}
#block-panels-mini-follow-block .pane-mailchimp-signup-form-field .form-item label {
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
  width: 12em;
  margin-right: auto;
  margin-left: auto;
}
#block-panels-mini-follow-block .pane-mailchimp-signup-form-field .form-item input {
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
  margin-right: auto;
  margin-left: auto;
  height: 1.2em;
  text-align: center;
  width: calc(100% - 6px);
}
#block-panels-mini-follow-block .pane-mailchimp-signup-form-actions {
  width: 171px;
  max-width: 100%;
  text-align: center;
}
#block-panels-mini-follow-block #edit-actions {
  text-align: center;
  margin: 0.5em 0;
  display: inline-block;
  vertical-align: middle;
}
#block-panels-mini-follow-block #edit-actions input {
  text-decoration: none;
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Sans-Serif;
  font-size: 11px;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #000000;
  line-height: 24px;
  height: 24px;
  margin: 0;
  padding: 0 20px;
  cursor: pointer;
  background: #e3cb61;
  border: 1px solid #a58b1e;
}
#block-panels-mini-follow-block .pane-widgets-s-socialmedia-profile-default {
  flex: 1 1 20%;
  display: flex;
  justify-content: center;
}
@media (min-width: 447px) {
  #block-panels-mini-follow-block .pane-widgets-s-socialmedia-profile-default {
    flex: 1 0 120px;
  }
}
#block-panels-mini-follow-block #widgets-element-socialmedia_profile-default {
  text-align: right;
}
#block-panels-mini-follow-block #widgets-element-socialmedia_profile-default .widgets-element {
  margin-right: 4px;
  margin-left: 4px;
  display: inline-block;
  float: none;
}

.front .block--views .block__title {
  text-align: center;
}

#block-superfish-1 {
  display: inline-block;
  width: 100%;
  background: linear-gradient(to bottom, #c2c7c0 0%, #9ba498 100%);
  border-radius: 5px;
}
#block-superfish-1 a > .sf-sub-indicator {
  display: none;
}
#block-superfish-1 .sf-accordion-toggle {
  text-align: center;
  padding: 6px;
}

#superfish-1 {
  text-align: center;
  padding: 6px;
}
#superfish-1 li.sf-depth-1 {
  display: inline-block;
  float: none;
  margin-left: 10px;
}
#superfish-1 li.sf-depth-1:first-child {
  margin-left: 0;
}
#superfish-1 li.sf-depth-1 > a {
  font-size: 18px;
  height: 23px;
  cursor: pointer;
  text-decoration: none;
  color: #1E201D;
  padding: 0 12px;
  line-height: 23px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 3px;
}
#superfish-1 li.sf-depth-1 > a:hover {
  border: 1px solid #343932;
  color: #2F332E;
  background: linear-gradient(to bottom, #fbf6e4 0%, #f1e0a2 100%);
}
#superfish-1 li.sf-depth-1.active-trail > a {
  border: 1px solid #9d8000;
  color: #070807;
  background: linear-gradient(to bottom, #edd576 0%, #e5c233 100%);
}
#superfish-1 li.sf-depth-1.menuparent > a:after {
  content: '\f0d7';
  font-family: FontAwesome;
  position: relative;
  left: 5px;
}
#superfish-1 li.sf-depth-1.menuparent > ul {
  background-color: #efd882;
  top: 25px;
}
#superfish-1 li.sf-depth-1.menuparent > ul li a {
  font-size: 18px;
  height: 23px;
  cursor: pointer;
  text-decoration: none;
  color: #1E201D;
  padding: 0 12px;
  line-height: 23px;
  text-align: left;
  border: 1px solid #E8CA5E;
  border-top-color: transparent;
}
#superfish-1 li.sf-depth-1.menuparent > ul li a:hover {
  background-color: #f6ebbf;
  color: #403A20;
  border-color: #8E988B;
}
#superfish-1 li.sf-depth-1.menuparent > ul li:first-child a {
  border-top-color: #E8CA5E;
}

#superfish-1-toggle {
  display: block;
  text-decoration: none;
  color: #1E201D;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
}

#superfish-1-accordion {
  text-align: center;
}
#superfish-1-accordion li a {
  font-size: 18px;
  height: 23px;
  cursor: pointer;
  text-decoration: none;
  color: #1E201D;
  padding: 0 12px;
  line-height: 23px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 3px;
}
#superfish-1-accordion li a:hover {
  border: 1px solid #343932;
  color: #2F332E;
  background: linear-gradient(to bottom, #fbf6e4 0%, #f1e0a2 100%);
}
#superfish-1-accordion li a.active {
  border: 1px solid #9d8000;
  color: #070807;
  background: linear-gradient(to bottom, #edd576 0%, #e5c233 100%);
}
#superfish-1-accordion li.menuparent > a:after {
  content: '\f0da';
  margin-left: 0.5em;
  font-family: FontAwesome;
}
#superfish-1-accordion li.menuparent ul {
  display: block;
  background-color: #efd882;
  border: 1px solid #E8CA5E;
  box-sizing: border-box;
  margin-left: 1em;
  width: calc(100% - 1em);
}
#superfish-1-accordion li.menuparent.sf-expanded > a:after {
  content: '\f0d7';
  margin-left: 0.5em;
  font-family: FontAwesome;
}

/*# sourceMappingURL=lw-omega.styles.css.map */