.boxed {
	border-radius: 5px;
	border: 1px solid #c5bc90;
	margin: 10px;
	padding: 1em;
	background: rgb(246, 245, 238);
	overflow: hidden;
}

.breadcrumb {
	border-radius: 5px;
	border: 1px solid #c5bc90;
	margin: 10px 0;
	padding: 1em;
	background: rgb(246, 245, 238);
	overflow: auto;
}

#block-widgets-s-socialmedia-share-default {
	text-align: center;
	margin: .5em 0;

	.widgets-element {
		margin-right: 4px;
		margin-left: 4px;
		display: inline-block;
		float: none;
	}
}

#block-block-4 {
	font-size: 11px;
	text-align: center;
	padding: 10px;
	color: #221F11;
	background: linear-gradient(to bottom, #e6e2d0 0%,#d6d0b2 100%);
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;

	p {
		margin: 0;
	}

	a {
		color: #221F11;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.media-gallery-media {
	display: block;
	margin: 0;
	width: 100%;

	.field__items {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		.field__item {
			flex: 1 1 250px;
		}
	}
}
