.boxed {
	border-radius: 5px;
	border: 1px solid #c5bc90;
	margin: 10px;
	padding: 1em 2.8%;
	background: rgb(246, 245, 238);
	overflow: hidden;

	.block__title,
	.pane-title {
		background: url(../images/blockheader.png);
		min-height: 40px;
		line-height: 40px;
		color: #000000;
		font-size: 16px;
		margin: 0;
		padding: 0 10px 0 10px;
		white-space: nowrap;
		border-radius: 3px;
		text-align: center;
	}
}

.inside {
	margin: 0 !important;
}

.breadcrumb {
	border-radius: 5px;
	border: 1px solid #c5bc90;
	margin: 10px 0;
	padding: 1em;
	background: rgb(246, 245, 238);
	overflow: auto;
}

#block-widgets-s-socialmedia-share-default {
	text-align: center;
	margin: .5em 0;

	.widgets-element {
		margin-right: 4px;
		margin-left: 4px;
		display: inline-block;
		float: none;
	}
}

#block-block-4 {
	padding: 10px;
	color: #221F11;
	background: linear-gradient(to bottom, #e6e2d0 0%,#d6d0b2 100%);
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;

	p {
		margin: 0;
		font-size: 11px;
		text-align: center;
	}

	a {
		color: #221F11;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.media-gallery-media {
	display: block;
	margin: 0;
	width: 100%;

	.field__items {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		.field__item {
			flex: 1 1 250px;
		}
	}
}

.node-type-published-books {
	main#main-content .panel-2col-stacked {
		.center-wrapper {
			display: flex;
			flex-flow: row wrap;
		}
		.panel-col-first {
			flex: 1 1 30%;
			min-width: 210px;
			display: flex;
			justify-content: center;
		}
		.panel-col-last {
			flex: 1 1 60%;

			.field--name-title-field,
			.field--name-field-book-sub-title,
			.field--name-field-author {
				text-align: center;

				@include breakpoint(738px) {
					text-align: center;
				}
			}
		}

		.field--name-field-teaser-title {
			font-size: 24px;
			text-align: center;
			font-weight: bold;
			margin-bottom: 0.5em;
		}
		.field--name-title-field {
			margin-top: 0;
			margin-bottom: .2em;
		}
		.field--name-field-author {
			font-weight: bold;
			margin-bottom: 0.5em;
		}
	}
}

.node.node--published-article-listing {
	.field--name-field-article-publication-date {
		text-align: center;
	}

	.node__links {
		text-align: right;
		font-style: italic;
		margin-top: 0.5em;

		li {
			display: inline-block;
			float: none;
		}
	}
}

main#main-content table {
	th {
		text-align: center;
		vertical-align: middle;
		padding: 7px;
	}
	td {
		padding: 2px;
		border: solid 1px #C7BC8F;
		vertical-align: top;
		border-collapse: collapse;
	}

	&.fc-border-separate {
		border-collapse: collapse;
	}
}

.field--name-field-blurbs,
.field--name-field-short-blurbs {
	blockquote + p {
		margin-top: -0.5em;
		margin-right: 10px;
		margin-bottom: 1.5em;
	}
}

ul.tabs.tabs--primary {
	border-bottom: 0;
	margin-top: 6px;

	li > a {
		color: black;
		text-decoration: none;
		font-size: 11px;
		text-align: center;
		width: auto;
		line-height: 24px;
		height: 24px;
		cursor: pointer;
		margin: 0px !important;
		padding: 0px 20px !important;
		background: #e9cb54;
		border: 1px solid #ac8c00;

		&:hover {
			background: #707a6c;
			border: 1px solid #484e46;
		}
		&.active{
			color: #F7EDC9;
			background: #707a6c;
			border: 1px solid #484e46;
		}
	}
}

input[type="submit"] {
	font-size: 11px;
	text-align: center;
	width: auto;
	line-height: 24px;
	height: 24px;
	cursor: pointer;
	margin: 0px !important;
	padding: 0px 20px !important;
	background: #e9cb54;
	border: 1px solid #ac8c00;
}
