#flexslider-1 {
	.flex-caption,
	.portrait .field.field--name-media-title {
		position: absolute;
		bottom: calc(22vw - 20px);
		padding: 0 8vw;
		width: 100%;
		box-sizing: border-box;
		font-size: 2vw;

		@include breakpoint(0px 600px) {
			bottom: calc(18% - 20px);
			font-size: 12px;
		}

		@include breakpoint(1080px) {
			bottom: 218px;
			padding: 0 86.4px;
			font-size: 22px;
		}
	}

	.landscape .field.field--name-media-title {
		position: absolute;
		bottom: calc(22vw - 20px);
		padding: 0 8vw;
		width: 100%;
		box-sizing: border-box;
		font-size: 2vw;

		@include breakpoint(0px 600px) {
			top: calc(82% - 20px);
			font-size: 12px;
		}

		@include breakpoint(1080px) {
			top: 680px;
			padding: 0 86.4px;
			font-size: 22px;
		}
	}
}