.l-branding {
	background: linear-gradient(to bottom, #eed889 0%,#e3be3c 50%,#eed889 100%);
	border-radius: 5px;
	margin-bottom: 5px;
	position: relative;
	display: flex;
	flex-flow: row wrap;

	&:before {
		position: absolute;
		display: block;
		content: ' ';
		z-index: 1;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: url(../images/textblock-bg.png);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
	}
}

.site-brand {
	z-index: 1;
	position: relative;
	flex: 1;
}

.l-region--branding {
	z-index: 1;
	position: relative;
}

.site-logo {
	float: left;
	margin-right: 1em;
}
