.l-branding {
    background: linear-gradient(to bottom, #eed889 0%, #e3be3c 50%, #eed889 100%);
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    flex-flow: row wrap;

    &:before {
        position: absolute;
        display: block;
        content: ' ';
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/textblock-bg.png);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }
}

.site-brand {
    z-index: 1;
    position: relative;
    flex: 1;
}

.l-region--branding {
    z-index: 1;
    position: relative;
}

.site-logo {
    float: left;
    margin-right: 1em;
}

#block-panels-mini-follow-block {
    background: #f6f5ed;
    border: 1px solid #c5bb8f;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;

    .block__title {
        min-height: 25px;
        line-height: 25px;
        color: #000000;
        font-size: 16px;
        margin: 0;
        padding: 0 10px 0 10px;
        white-space: nowrap;
        text-align: center;
    }

    .mailchimp-newsletter-mergefields {
        .form-item {
            margin: 0;
            text-align: center;
            margin-bottom: .1em;

            label {
                font-weight: normal;
                font-style: normal;
                font-size: .8em;
                width: 12em;
                margin-right: auto;
                margin-left: auto;
            }
            input {
            	font-weight: normal;
            	font-style: normal;
            	font-size: .8em;
            	width: 12em;
            	margin-right: auto;
            	margin-left: auto;
            	height: 1.2em;
            	text-align: center;
            }
        }

        #edit-actions {
        	text-decoration: none;
        	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Sans-Serif;
        	font-size: 11px;
        	display: inline-block;
        	vertical-align: middle;
        	white-space: nowrap;
        	text-align: center;
        	color: #000000;
        	line-height: 24px;
        	height: 24px;
        	margin: 0 !important;
        	padding: 0 20px !important;
        	cursor: pointer;
        	color: #e3cb61;
        	border: 1px solid #a58b1e;
        }
    }

    #widgets-element-socialmedia_profile-default {
    	text-align: center;

    	.widgets-element {
    		margin-right: 4px;
    		margin-left: 4px;
    		display: inline-block;
    		float: none;
    	}
    }
}