.l-branding {
    background: linear-gradient(to bottom, #eed889 0%, #e3be3c 50%, #eed889 100%);
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
    display: inline-block;
    width: 100%;

    &:before {
        position: absolute;
        display: block;
        content: ' ';
        z-index: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/textblock-bg.png);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }

    @include breakpoint(1010px) {
        display: flex;
        align-items: center;
    }
}

.site-logo {
    height: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    float: none;
    width: 100px;
    text-align: center;
    margin-right: 0.5em;

    img {
    	height: 100%;
        width: 100px;
        display: inline-block;
    }

    @include breakpoint(605px) {
        margin-right: 1em;
        width: 21%;

        img {
            width: 100%;
            display: block;
        }
    }
    @include breakpoint(650px) {
        float: left;
    }
    @include breakpoint(1010px) {
        float: none;
        width: auto;
    }
}

.sitename-and-slogan {
    display: inline-block;
    flex: 1 1 400px;
    vertical-align: top;
    width: calc(100% - (100px + 1em));
    text-align: center;
    vertical-align: middle;

    @include breakpoint(605px) {
        width: calc(100% - (22% + 1em));
        text-align: center;
        vertical-align: middle;
    }
    @include breakpoint(1010px) {
        width: auto;
    }
}

.site-name {
	display: inline-block;
    text-align: left;
    margin: 0;
    position: relative;

	a {
		font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Sans-Serif;
		font-style: normal;
		font-weight: bold;
		text-decoration: none;
		padding: 0;
		margin: 0;
		color: #221F11;
        display: inline-block;
        text-align: center;
        font-size: 38px;
        @include fluid-type(600px, 1009px, 38px, 55px); // values inside are ($min_width,$max_width, $min_font, $max_font); 
        @include fluid-type(350px, 599px, 24px, 38px); // values inside are ($min_width,$max_width, $min_font, $max_font); 

        @include breakpoint(605px) {
            text-align: left;
        }
	}
}

.site-slogan{
    position: relative;
    display: block;
	text-align: left;
	padding: 0;
	margin: 0;
	color: #0A0905;
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Sans-Serif;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
    text-align: center;
    font-size: 24px;
    @include fluid-type(600px, 1009px, 24px, 32px); // values inside are ($min_width,$max_width, $min_font, $max_font);
    @include fluid-type(350px, 599px, 12px, 24px); // values inside are ($min_width,$max_width, $min_font, $max_font); 
}

.l-region--branding {
    overflow: auto;
    width: 100%;

    @include breakpoint(605px) {
        width: auto;
    }
    @include breakpoint(1010px) {
        overflow: unset;
    }
}

#block-panels-mini-follow-block {
    background: #f6f5ed;
    border: 1px solid #c5bb8f;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: auto;
    box-sizing: border-box;

    @include breakpoint(1010px) {
        width: 150px;
    }

    #mailchimp-signup-subscribe-block-follow-larry-form {
        text-align: center;
    }

    .block__title {
        min-height: 25px;
        line-height: 25px;
        color: #000000;
        font-size: 16px;
        margin: 0;
        padding: 0 10px 0 10px;
        white-space: nowrap;
        text-align: center;
    }
    .block__content {
        display: flex;

        .panels-flexible-6 {
            width: 100%;
        }
    }

    .mailchimp-newsletter-mergefields {
        display: inline-block;

        .form-item {
            margin: 0;
            text-align: center;
            margin-bottom: .1em;
            display: inline-block;
            vertical-align: middle;

            label {
                font-weight: normal;
                font-style: normal;
                font-size: 11px;
                width: 12em;
                margin-right: auto;
                margin-left: auto;
            }
            input {
            	font-weight: normal;
            	font-style: normal;
            	font-size: 11px;
            	margin-right: auto;
            	margin-left: auto;
            	height: 1.2em;
            	text-align: center;
            	width: calc(100% - 6px);
            }
        }
    }

    #edit-actions {
    	text-align: center;
    	margin: 0.5em 0;
        display: inline-block;
        vertical-align: middle;

    	input {
        	text-decoration: none;
        	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Sans-Serif;
        	font-size: 11px;
        	display: inline-block;
        	vertical-align: middle;
        	white-space: nowrap;
        	text-align: center;
        	color: #000000;
        	line-height: 24px;
        	height: 24px;
        	margin: 0;
        	padding: 0 20px;
        	cursor: pointer;
        	background: #e3cb61;
        	border: 1px solid #a58b1e;
        }
    }

    #widgets-element-socialmedia_profile-default {
    	text-align: center;

    	.widgets-element {
    		margin-right: 4px;
    		margin-left: 4px;
    		display: inline-block;
    		float: none;
    	}
    }
}