.front {
	.block--views .block__title {
		text-align: center;
	}
}

.view-nodequeue-1,
.view-list-of-published-articles {
	.views-row {
		.node__title,
		.field--name-field-teaser-title-link {
			text-align: center;
			margin-bottom: .5em;

			h2 {
				margin: 0;
			}
			a {
				text-decoration: none;
				color: black;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.node__title {
			margin: 3px 0;
		}
	}
}

.view-nodequeue-1,
.view-nodequeue-2 {
	.panel-2col-stacked .center-wrapper {
		display: flex;
		flex-flow: row wrap;

		.panel-col-first {
		    flex: 1 1 30%;
			min-width: 210px;
			display: flex;
			justify-content: center;

		    .inside {
		        margin: 0 .5em 1em 0;
		    }
		}
	
	    div.panel-col-last {
	        flex: 1 1 65%;

	        .inside {
	            margin: 0 0 1em .5em;
	        }

	        .field--name-title-field,
	        .field--name-field-book-sub-title,
	        .field--name-field-author {
				text-align: center;
	        }
	    }

	    .field--name-title-field,
	    .node__title {
	    	margin-bottom: .5em;

	    	h2, p {
	    		margin: 0;
	    	}
	    	a {
	    		color: black;
	    	}
	    }

	    .field--name-field-book-cover {
	        text-align: center;

	        img {
	        	margin: 10px 15px;
	        }
	    }
	    .field--name-field-author {
	        font-weight: bold;
	        margin-bottom: 0.5em;
	    }
	    .field--name-node-link {
	    	font-style: italic;
	    }
	}

	.field--name-field-teaser-title-link,
	.node__title {
		text-align: center;
		margin-bottom: .5em;

		h2 {
			text-align: center;
			margin-top: 0;
			margin-bottom: .5em;
		}
		a {
			text-decoration: none;
			color: black;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	.field--name-field-book-sub-title {
		margin-bottom: 0.5em;
		font-weight: bold;
		font-style: italic;
	}

	.node__links {
		text-align: right;
		font-style: italic;
		margin-top: 0.5em;

		li {
			display: inline-block;
			float: none;
		}
	}
}

.view-list-of-published-articles {
	.more-link {
		font-weight: bold;
		font-size: 16px;
		text-align: center;
	}

	.pager {
		li {
		    display: inline-block;
		    font-size: 16px;
		}
		.pager-current {
			font-weight: bold;
		}
	}
}
