.page-media-kit {
	#media-kit-toc {
		.menu {
			width: 25%;
			margin: 1em auto 1em auto;

			li {
				margin: 5px 0 0 10px;
				font-weight: bold;
			}
		}
	}
}

main#main-content #mini-panel-contact_information table {
    width: 75%;
    margin-right: auto;
    margin-left: auto;

    th, td {
        border: none;
    }

    img {
        float: left;
        margin-top: 0;
        border-width: 0;
        margin: 10px 15px;
    }

    div.views-field {
        margin-left: 5em;
        margin-bottom: .4em;
    }
    div.field-content {
        display: inline;
    }
}