#block-superfish-1 {
    display: inline-block;
    width: 100%;
    background: linear-gradient(to bottom, #c2c7c0 0%, #9ba498 100%);

    a>.sf-sub-indicator {
        display: none;
    }
}

#superfish-1 {
    text-align: center;
    padding: 6px;

    li.sf-depth-1 {
        display: inline-block;
        float: none;
        margin-left: 10px;

        &:first-child {
            margin-left: 0;
        }

        >a {
            font-size: 18px;
            text-decoration: none;
            height: 23px;
            cursor: pointer;
            text-decoration: none;
            color: #1E201D;
            padding: 0 12px;
            line-height: 23px;
            text-align: center;
            border: 1px solid transparent;
            border-radius: 3px;

            &:hover {
                border: 1px solid #343932;
                color: #2F332E;
                background: linear-gradient(to bottom, #fbf6e4 0%, #f1e0a2 100%);
            }

            &.active {
                border: 1px solid #9d8000;
                color: #070807;
                background: linear-gradient(to bottom, #edd576 0%, #e5c233 100%);
            }
        }

        &.menuparent {
            >a:after {
                content: '\f0d7';
                font-family: FontAwesome;
                position: relative;
                left: 5px;
            }

            >ul {
                background-color: #efd882;
                top: 25px;

                li a {
                    font-size: 18px;
                    text-decoration: none;
                    height: 23px;
                    cursor: pointer;
                    text-decoration: none;
                    color: #1E201D;
                    padding: 0 12px;
                    line-height: 23px;
                    text-align: left;
                    border: 1px solid #E8CA5E;
                    border-top-width: 0px;

                    &:hover {
                        background-color: #f6ebbf;
                        color: #403A20;
                        border-color: #8E988B;
                        border-top-width: 1px !important;
                    }
                }

                li:first-child a {
                    border-top-width: 1px;
                }
            }
        }
    }
}