#block-superfish-1 {
    display: inline-block;
    width: 100%;
    background: linear-gradient(to bottom, #c2c7c0 0%, #9ba498 100%);
    border-radius: 5px;

    a>.sf-sub-indicator {
        display: none;
    }

    .sf-accordion-toggle {
    	text-align: center;
    	padding: 6px;
    }
}

#superfish-1 {
    text-align: center;
    padding: 6px;

    li.sf-depth-1 {
        display: inline-block;
        float: none;
        margin-left: 10px;

        &:first-child {
            margin-left: 0;
        }

        >a {
            font-size: 18px;
            height: 23px;
            cursor: pointer;
            text-decoration: none;
            color: #1E201D;
            padding: 0 12px;
            line-height: 23px;
            text-align: center;
            border: 1px solid transparent;
            border-radius: 3px;

            &:hover {
                border: 1px solid #343932;
                color: #2F332E;
                background: linear-gradient(to bottom, #fbf6e4 0%, #f1e0a2 100%);
            }
        }

        &.active-trail > a {
            border: 1px solid #9d8000;
            color: #070807;
            background: linear-gradient(to bottom, #edd576 0%, #e5c233 100%);
        }

        &.menuparent {
            >a:after {
                content: '\f0d7';
                font-family: FontAwesome;
                position: relative;
                left: 5px;
            }

            >ul {
                background-color: #efd882;
                top: 25px;

                li a {
                    font-size: 18px;
                    height: 23px;
                    cursor: pointer;
                    text-decoration: none;
                    color: #1E201D;
                    padding: 0 12px;
                    line-height: 23px;
                    text-align: left;
                    border: 1px solid #E8CA5E;
                    border-top-color: transparent;

                    &:hover {
                        background-color: #f6ebbf;
                        color: #403A20;
                        border-color: #8E988B;
                    }
                }

                li:first-child a {
                    border-top-color: #E8CA5E;
                }
            }
        }
    }
}

#superfish-1-toggle {
	display: block;
	text-decoration: none;
	color: #1E201D;
	font-size: 18px;
	line-height: 25px;
	font-weight: bold;
}

#superfish-1-accordion {
	text-align: center;

	li a {
		font-size: 18px;
		height: 23px;
		cursor: pointer;
		text-decoration: none;
		color: #1E201D;
		padding: 0 12px;
		line-height: 23px;
		text-align: center;
		border: 1px solid transparent;
		border-radius: 3px;

		&:hover {
		    border: 1px solid #343932;
		    color: #2F332E;
		    background: linear-gradient(to bottom, #fbf6e4 0%, #f1e0a2 100%);
		}

		&.active {
		    border: 1px solid #9d8000;
		    color: #070807;
		    background: linear-gradient(to bottom, #edd576 0%, #e5c233 100%);
		}
	}

	li.menuparent {
		> a:after {
			content: '\f0da';
			margin-left: 0.5em;
			font-family: FontAwesome;
		}

		ul {
			display: block;
			background-color: #efd882;
			border: 1px solid #E8CA5E;
			box-sizing: border-box;
			margin-left: 1em;
			width: calc(100% - 1em);
		}
	}
	li.menuparent.sf-expanded {
		> a:after {
			content: '\f0d7';
			margin-left: 0.5em;
			font-family: FontAwesome;
		}
	}
}