a {
    text-decoration: none;
}

blockquote {
    background-color: #E9E4D3;
    background-image: url(../images/postquote.png);
    background-position: left top;
    background-repeat: no-repeat;
    overflow: auto;
    clear: both;
    margin: 10px;
    margin-left: 50px;
    padding: 0;
    padding-left: 28px;
}

body {
	margin: 0;
    color: #000000;
    background-color: #FEFEFC;
    background: linear-gradient(to bottom, #e9d784 0%, #ffffff 100%);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: top left;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Sans-Serif;
}

.l-page {
    background-image: url(../images/larrys-bookshelf-extracted.png);
    background-repeat: repeat-x;
    background-position: bottom left;
    background-attachment: fixed;
    display: flex;
    min-height: calc(100vh - 2em);
}

.l-page-inner {	
	max-width: calc(100% - 4em);
	margin: 1em auto;
	cursor: auto;
	width: 1000px;
	background: rgba(239, 237, 224, 0.95);
	box-shadow: 0 0 5px 3px rgba(101, 99, 93, 0.32);
	border-radius: 5px;
	padding: 7px;
}

.l-main {
    font-size: 14px;
}

.media-image {
    margin: 10px 15px;
}

.node__links {
    text-align: center;
    font-style: italic;
    margin-top: 0.5em;

    li {
        display: inline-block;
        float: none;
    }
}
