a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

p {
    text-align: justify;
}

blockquote {
    background-color: #E9E4D3;
    background-image: url(../images/postquote.png);
    background-position: left top;
    background-repeat: no-repeat;
    overflow: auto;
    clear: both;
    margin: 10px;
    padding: 0;
    padding-left: 28px;
    padding-right: 14px;

    @include breakpoint(739px) {
        margin-left: 50px;
    }
}

h1 {
  text-transform: none;
  font-weight: 700;
  border-bottom: none;
  font-size: 28px;  // backup size
  @include fluid-type(400px, 1200px, 28px, 32px); // values inside are ($min_width,$max_width, $min_font, $max_font);
}

h2 {
  text-transform: none;
  border-bottom: none;
  font-size: 22px;
  @include fluid-type(400px, 1200px, 22px, 26px); // values inside are ($min_width,$max_width, $min_font, $max_font);
}

h3 {
  font-size: 18px;
  @include fluid-type(400px, 1200px, 18px, 22px); // values inside are ($min_width, $max_width, $min_font, $max_font);
}

h4 {
  font-size: 16px;
  @include fluid-type(400px, 1200px, 16px, 20px); // values inside are ($min_width, $max_width, $min_font, $max_font);

}

h5 {
  font-size: 14px;
  @include fluid-type(400px, 1200px, 14px, 18px); // values inside are ($min_width, $max_width, $min_font, $max_font);
}

h6 {
  font-size: 12px;
  @include fluid-type(400px, 1200px, 12px, 16px); // values inside are ($min_width, $max_width, $min_font, $max_font);
}

p {
  line-height: 1.35em;
  font-size: 12px;
  @include fluid-type(400px, 1200px, 12px, 16px); // values inside are ($min_width, $max_width, $min_font, $max_font);

}

table {
    width: 100%;
}

body {
	margin: 0;
    color: #000000;
    background-color: #FEFEFC;
    background: linear-gradient(to bottom, #e9d784 0%, #ffffff 100%);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: top left;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Sans-Serif;
}

.l-page {
    background-image: url(../images/larrys-bookshelf-extracted.png);
    background-repeat: repeat-x;
    background-position: bottom left;
    background-attachment: fixed;
    display: flex;
    min-height: 100vh;
}

.l-page-inner {	
	max-width: calc(100% - 4em);
	margin: 1em auto;
	cursor: auto;
	width: 1000px;
	background: rgba(239, 237, 224, 0.95);
	box-shadow: 0 0 5px 3px rgba(101, 99, 93, 0.32);
	border-radius: 5px;
	padding: 7px;
  display: flex;
  flex-flow: column nowrap;
}

.l-main {
    font-size: 14px;
    flex: 1;
}

.page-title {
    margin: 3px 0;
    line-height: 1em;
    text-align: center;
}

.media-element {
    margin: 10px 15px;
}

.node__links {
    text-align: center;
    font-style: italic;
    margin-top: 0.5em;

    li {
        display: inline-block;
        float: none;
    }
}

.page-node {
    main#main-content {
        border-radius: 5px;
        border: 1px solid #c5bc90;
        margin: 10px;
        padding: 1em;
        background: rgb(246, 245, 238);
        overflow: hidden;
    }
}
