.page-user {
	main#main-content {
		border: 1px solid #c7bd8c;
		border-radius: 5px;
		padding: 1em;
		max-width: 500px;
		margin: auto;
		background: #f6f5ee;
	}

	#user-login,
	#user-pass {
		max-width: 500px;
		margin: 1em auto;
		text-align: center;

		.form-item label {
			display: inline-block;
		}

		input.form-text {
			max-width: 100%;
			box-sizing: border-box;
			width: 365px;
		}

		fieldset.captcha {
			max-width: 100%;
			min-width: 0;
			box-sizing: border-box;
		}
	}

	.g-recaptcha {
		display: inline-block;
		overflow-x: auto;
		overflow-y: hidden;
		max-width: 100%;
	}
}