.page-media-kit {
	#media-kit-toc {
		.menu {
			max-width: 250px;
			margin: 1em auto 1em auto;

			li {
				margin: 5px 0 0 10px;
				font-weight: bold;
			}
		}
	}
}

main#main-content #mini-panel-contact_information table {
	max-width: 276px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1.3em;

    tr {
    	background-color: transparent;
    }

    th, td {
        border: none;
    }

    img {
        float: left;
        border-width: 0;
        margin: 0px 10px 15px 10px;
    }

    div.views-field {
        margin-left: 5em;
        margin-bottom: .4em;
    }
    div.views-field.views-field-picture {
        margin-left: 0em;
    }
    div.field-content {
        display: inline;
    }
}

#media-kit-contacts {
	.panels-flexible-5-inside {
		display: flex;
		flex-flow: row wrap;

		.panels-flexible-column {
			flex: 1 1 250px;
		}
	}
}

.view-media-appearances-view .view-content {
	overflow-x: auto;
}

main#main-content #mini-panel-media_appearances {
	table {
		margin: 1px;
		border-collapse: separate;
		*border-collapse: collapse;
		border-spacing: 0;
		width: calc(100% - 2px);
	}
	thead {
	    background-color: #ecdb99;
	}
	th {
		border: 1px none #C7BC8F;
		border-top: 1px solid #C7BC8F;
		border-bottom: 1px solid #C7BC8F;
		background: transparent;

		&:first-child {
			border-left: 1px solid #C7BC8F;
			border-radius: 6px 0 0 0;
		}
		&:last-child {
			border-right: 1px solid #C7BC8F;
			border-radius: 0 6px 0 0;
		}
		th:only-child{
		    border-top: 1px solid #C7BC8F;
		    border-radius: 6px 6px 0 0;
		}
	}
	tbody {
		tr:last-child td:first-child {
		    border-radius: 0 0 0 0.6em;
		}
		tr:last-child td:last-child {
		    border-radius: 0 0 0.6em 0;
		}
	}
	tr.odd {
	    background-color: transparent;
	}
	tr.even {
	    background-color: #e9e4d3;
	}
	td {
		border: 1px none #C7BC8F;
		border-bottom: 1px solid #C7BC8F;

		&:first-child {
			border-left: 1px solid #C7BC8F;
		}
		&:last-child {
			border-right: 1px solid #C7BC8F;
		}
	}

	.views-field-field-event-date,
	.views-field-field-event-links {
	    width: 10em;
	    text-align: center;
	}
	.views-field-title {
	    text-align: left;
	    padding-left: 0;
	}
}