@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
.node-type-published-books {
	main#main-content .panel-2col-stacked {
		.center-wrapper {
			display: flex;
			flex-flow: row wrap;
		}
		.panel-col-first {
			flex: 1 1 30%;
			min-width: 210px;
			display: flex;
			justify-content: center;
		}
		.panel-col-last {
			flex: 1 1 60%;

			.field--name-title-field,
			.field--name-field-book-sub-title,
			.field--name-field-author {
				text-align: center;

				@include breakpoint(738px) {
					text-align: center;
				}
			}
		}

		.field--name-field-teaser-title {
			font-size: 24px;
			text-align: center;
			font-weight: bold;
			margin-bottom: 0.5em;
		}
		.field--name-title-field {
			margin-top: 0;
			margin-bottom: .2em;
		}
		.field--name-field-author {
			font-weight: bold;
			margin-bottom: 0.5em;
		}
		.pane-print-ui-print-links {
			font-style: italic;

			@include breakpoint(500px) {
				margin-top: 1em;
			}
		}
	}

	.pane-node-field-book-cover {
	    margin-top: 2em;
	    text-align: center;
	}

	.print_html, .print_mail, .print_pdf, .print_epub {
		margin-left: 0;
		margin-right: 1em;
		display: inline-block;

		@include breakpoint(654px) {
			width: 100%;
		}
	}
}
