.page-user {
	main#main-content {
		border-radius: 5px;
		border: 1px solid #c5bc90;
		margin: 10px;
		padding: 1em 2.8%;
		background: rgb(246, 245, 238);
		overflow: hidden;
	}

	#user-account-main-page {
		.center-wrapper {
			display: flex;
			flex-flow: row wrap;

			> div {
				flex: 1 1 225px;
				min-width: 225px;
				width: initial;
				float: none;
			}
		}
	}
}